* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 5px solid salmon;
    padding: 2%;
    margin: 2%;
    background-color: dimgrey;


}

header {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.navlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    gap: 20px;
    border: 7px solid salmon;
    box-shadow: 10px 10px 10px white;
    margin-bottom: 10px;

    @media (width <=600px) {
        grid-template-columns: 1fr;
    }
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

a:hover {
        color: chocolate;
        background-color: lightgray;
        text-shadow: 2px 2px 1px white;
        font-size: 24px;
    }


main {
    grid-template-areas: "promotion     promotion       promotion"
        "makeup        hairstyle       nails";
    display: grid;
    grid-gap: 20px;

    @media (width <=600px) {
        grid-template-areas: "promotion"
            "makeup"
            "hairstyle"
            "nails"

    }
}


.promotion {
    grid-area: promotion;
    text-align: center;
    padding: 20px;
    border: 7px solid salmon;
    font-family: Arial, Helvetica, sans-serif;
    color: salmon;
    font-size: 30px;
    text-shadow: 1px 1px 2px darkslategray;
    font-weight: bold;
    box-shadow: 10px 10px 10px white;
}

#makeup {
    grid-area: makeup;

}

#hairstyle {
    grid-area: hairstyle;

}

#nails {
    grid-area: nails;

}

.secundaryServices {
    min-height: 200px;
    padding: 10px;
    border: 10px solid salmon;
    box-shadow: 10px 10px 10px white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h3 {
    color: salmon;
    text-align: center;
}

footer {
    grid-template-areas: "logo     content";
    display: grid;
    padding: 20px;
    margin-top: 20px;
}

#logo {
    grid-area: logo;
}

#content {
    grid-area: content;
    text-align: center;
    color: white;
}